table {
	border-collapse: collapse;
}
td {
	border: solid 1px black;
	padding: .5em;
}
code {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}
tt {
	display: inline;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}
urgent {
	font-size: large;
	font-weight: bold;
	color: red;
}
nvm {
	text-decoration: line-through;
}
* {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

